/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    justify-content: flex-start;
    align-items: flex-end;
   
}

/* Navigation styles */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
    }
    
    header nav ul li {
        margin: 15px 0;
        text-align: center;
    }
    
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 60px;
        left: 10px;
    }
    
    .menu-toggle .bar {
        width: 100%;
        height: 4px;
        background-color: rgb(0, 0, 0);
        z-index: 1200;
    }
}

/* Show the menu when toggled */
header nav ul.active {
    display: flex;
}



/* Mobile styles */
@media (max-width: 768px) {
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        min-height: 100vh;
        
    }
}

main {
    padding: 20px;
}

/* Home Page Styles */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.hero h2 {
    margin: 0;
    font-size: 36px;
}

.hero p {
    font-size: 20px;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.photo, .gallery-item {
    width: 30%;
    height: auto;
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    background-size: cover;
    background-position: center;
    margin: 1%;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.photo:hover, .gallery-item:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.videos {
    margin-top: 20px;
    text-align: center;
}

.videos h2 {
    margin-bottom: 20px;
}

.videos iframe {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
}

/* Gallery styles */
.gallery {
    text-align: center;
}

.gallery h2 {
    margin-bottom: 2px;
}

.gallery-item {
    width: 20%;
    height: 300px; /* Adjust the height automatically based on aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    background-size: cover;
    background-position: center;
    margin: 1%;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    margin: 5% auto;
    width: 80%;
    max-width: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh; /* Ensure it takes up 80% of the viewport height */
    background-color: #000; /* Background color to handle image visibility */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1100;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    z-index: 1100;
}

/* Navigation icons inside the modal */
.modal-navigation {
    position: absolute;
    top: 80%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
    padding: 0 20px;
    z-index: 1100;
}

.modal-navigation div {
    cursor: pointer;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    

    .photo, .gallery-item {
    
        width: 20%;
        height: 300px; /* Adjust the height automatically based on aspect ratio */
        aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    }

    .videos iframe {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .photo, .gallery-item {
        width: 47%;
        
        height: 200px; /* Adjust the height automatically based on aspect ratio */
        aspect-ratio: "16 / 9"; /* Maintain a 16:9 aspect ratio */
    }

    .modal-content {
        width: 95%;
    }

    .close {
        font-size: 30px;
    }

    .modal-navigation {
        font-size: 30px;
    }
}
/* Contact Page Styles
.contact {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact label {
    margin-top: 10px;
}

.contact input, .contact textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #555;
}
 */
